# Fichero de variables de entorno. ¡NO SUBIR A GIT!
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorios de datos y logs generados por los bots
/bots/data/
/bots/logs/

# Configuraciones de editores de código
.vscode/
.idea/